body {
    margin: 0;
    padding: 0;
}

.body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: hsl(233, 47%, 7%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    width: 80%;
}

.stats {
    padding: 3rem;
    width: 50%;
    background-color: hsl(244, 38%, 16%);
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#in {
    display: inline-block;
    color: hsl(277, 64%, 61%);
    font-size: 1em;
}

.head {
    font-weight: 700;
    font-size: 2.5rem;
}

figure {
    margin: 0;
    padding: 0;
    width: 50%;
    background-color: hsl(277, 100%, 20%);

}

img {
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

.foot {
    display: flex;
    justify-content: space-between;
    color: hsla(0, 0%, 100%, 0.6);
}

span {
    display: block;
    font-size: 2rem;

}

p {
    color: hsla(0, 0%, 100%, 0.75);
    padding-right: 5rem;
}

.n {
    color: white;
}

@media (max-width:900px) {
    .card {
        flex-direction: column-reverse;
        margin: 10rem auto;
        width: 90vw;
    }

    figure {
        width: 100%;
        height: 50%;
    }

    .stats {
        width: fit-content;
        height: 50%;
    }

    #p {
        padding: 0;
        margin-bottom: 4rem;
    }

    .foot {
        flex-direction: column;
        align-items: center;
        align-content: space-around;
        margin-bottom: 0;
    }

    .stats .head,
    .stats p {
        margin-bottom: 2rem;
    }

    .foot div {
        margin-bottom: 5rem;
    }
}